# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
/out/

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# JVM diagnostics
hs_err_pid*
replay_pid*
